
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.pi img{
	width: 100%;
	height: 700px;
}
.wrapper{
	width:100%;
	background-color:#fff;
	min-height:100vh;
	overflow:hidden;
}
.section{
	width:90%;
	display: block;
	margin:80px auto;
}
.left-section{
	width:60%;
	float: left;
	padding-right:50px;
}
.left1-section{
	width:60%;
	float: right;
	padding-right:50px;
}
.content{
	text-align:justify;
}
.image-section{
	float: right;
	width:40%;
}
.image-section img{
	max-width:100%;
	height: auto;
}
.image-section img:hover{
	opacity: 0.5;
}
.image1-section{
	float: left;
	width:40%;
}
.image1-section img{
	max-width:100%;
	height: auto;
}
.image1-section img:hover{
	opacity: 0.5;
}
.content .title h2{
	color:#1c1c1c;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 800;
}
.content p{
	font-family: 'Josefin Sans', sans-serif;
	padding-top:15px;
	color:#1e1e1e;
	font-size:27px;
	letter-spacing:0.6px;
	line-height:1.5;
}
@media screen and (max-width:768px){
	.left-section{
		width:100%;
		padding-right:0px;
	}
	.content h2{
		text-align: center;
	}
	.image-section{
		width:100%;
		display: block;
		margin:50px auto;
	}
	.image-section img{
		width:100%
	}
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');


body{
	margin:0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-family: 'Josefin Sans', sans-serif;
}

.services{
	width:100%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.s-heading{
	text-align:center;
}
.s-heading h1{
	color:#576975;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
}
.s-heading p{
	color: rgba(87,105,117,0.60);
	font-size: 1rem;
	margin: 5px;
	text-align: center;
}
.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width:300px;
	padding: 20px 25px;
	height: 370px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
}
.s-box img{
	height: 230px;
	width:300px;
}
.s-box h1{
	color:#576975;
	letter-spacing: 1px;
	font-size: 1.5rem;
	margin-bottom: 8px;
	text-align: center;

}
.s-box p{
	color: rgba(87,105,117,0.90);
	text-align: center;
}
.s-btn{
	width: 140px;
	height: 40px;
	border-radius: 20px;
	border:1px solid rgba(74,144,226,0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	color:#576975;
	margin-top:10px;
}
.bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color:#4a90e2;
	border-radius: 0px 0px 10px 10px;
	display: none;
	animation: bar 0.5s;
}
.s-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
	transition: all ease 0.3s;
}
.s-btn:hover{
	background-color:#4a90e2;
	border: 1px solid #4a90e2;
	color:#FFFFFF;
	transition: all ease 0.3s;
}
.s-box:hover .bar{
	display: block;
}
@keyframes bar{
	0%{
		width:0px;
	}
	100%{
		width:100px;
	}
}
@media(max-width:1050px){
	.s-box-container{
		flex-wrap: wrap;

	}
	.services{
		height: auto;
	}
	.s-heading{
		margin: 15px;
	}
	.s-box{
		flex-grow: 1;
	}

}
.container1 {
    position: relative;
    background: #aad5f6;
}
.slide-1 {
    background: url('117.jpg');
}
.slide-2 {
    background: url('6.jpg');
}
.slide-3 {
    background: url('../img/3.jpg');
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.caption {
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0px;
}
.caption h3 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 18px;
}
.caption p {
    max-width: 600px;
    width: 90%;
    margin: 0px auto;
    color: #ccc;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    transform: background 500ms;
}
.arrow img {
    width: 50px;
}

.arrow:hover {
    background: rgba(0, 0, 0, .4);
}
.l {
    left: 0;
}
.r {
    right: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.wrapper{
	width:100%;
	background-color:#fff;
	min-height:105vh;
	overflow:hidden;
}
.wrapper2{
	width:100%;
	background-color:#fff;
	min-height:80vh;
	overflow:hidden;
}
.section{
	width:90%;
	display: block;
	margin:80px auto;
}
.left-section{
	width:60%;
	float: left;
	padding-right:50px;
}
.content{
	text-align:justify;
}
.image-section{
	float: right;
	width:40%;
}
.image-section img{
	max-width:100%;
	height: auto;
}

.content .title h2{
	color:#ffffff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 800;
}
.content p{
	font-family: 'Josefin Sans', sans-serif;
	padding-top:15px;
	color:#000;
	font-size:20px;
	letter-spacing:0.6px;
	line-height:1.5;
}
@media screen and (max-width:768px){
	.left-section{
		width:100%;
		padding-right:0px;
	}
	.content h2{
		text-align: center;
	}
	.image-section{
		width:100%;
		display: block;
		margin:50px auto;
	}
	.image-section img{
		width:100%
	}
}


.wrapper1{
	width:100%;
	background-color:#fff;
	min-height:70vh;
	overflow:hidden;
}
.section1{
	width:90%;
	display: block;
	margin:80px auto;
}
.left-section1{
	width:60%;
	float: right;
	padding-right:50px;
}
.content1{
	text-align:justify;
}
.image-section1{
	float: left;
	width:40%;
}
.image-section1 img{
	max-width:100%;
	height: auto;
}

.content1 .title1 h2{
	color:#1c1c1c;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 800;
}
.content1 p{
	font-family: 'Josefin Sans', sans-serif;
	padding-top:15px;
	color:#1e1e1e;
	font-size:20px;
	letter-spacing:0.6px;
	line-height:1.5;
}
@media screen and (max-width:768px){
	.left-section1{
		width:100%;
		padding-right:0px;
	}
	.content1 h2{
		text-align: center;
	}
	.image-section1{
		width:100%;
		display: block;
		margin:50px auto;
	}
	.image-section1 img{
		width:100%
	}
}



.section12{
	width:90%;
	display: block;
	margin:80px auto;
}
.left-section12{
	width:60%;
	float: left;
	padding-right:50px;
}
.content12{
	text-align:justify;
}
.image-section12{
	float: right;
	width:40%;
}
.image-section12 img{
	max-width:100%;
	height: auto;
}

.content12 .title12 h2{
	color:#1c1c1c;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 800;
}
.content12 p{
	font-family: 'Josefin Sans', sans-serif;
	padding-top:15px;
	color:#1e1e1e;
	font-size:20px;
	letter-spacing:0.6px;
	line-height:1.5;
}
@media screen and (max-width:768px){
	.left-section12{
		width:100%;
		padding-right:0px;
	}
	.content12 h2{
		text-align: center;
	}
	.image-section12{
		width:100%;
		display: block;
		margin:50px auto;
	}
	.image-section12 img{
		width:100%
	}
}
