
body{
	  font-family:'Quicksand', sans-serif;
	    text-align:center;
	      line-height:1.5em;
	      /*   background:#E0E4CC; */

	        

      }
      hr {
	        border:none;
		  background:#E0E4CC;
		    height:1px;
		    /*   width:60%;
		     *     display:block;
		     *       margin-left:0; */
}
.container {
	  width:100%;
	    margin: 1em auto; 
	      background:#FFF; 
	        padding:70px;
		  border-radius:5px;
		    
	  }
	  .productcont {
		    display: flex; 
	    }
	    .product {
		      padding:1em; 
		        border:1px solid #E0E4CC; 
			   margin-right:0em; 
			     border-radius:5px;
			       width:25%;
			         
		       }
		       .cart-container {
			         border:1px solid #E0E4CC;
				   border-radius:5px;
				     margin-top:1em;
				       padding:1em;
			       }
			       button, input[type="submit"] { 
				           border:1px solid black; 
					       color:#fff; 
					           background:MediumSeaGreen; 
						       padding:0.6em 1em;
						           font-size:1em; 
							       line-height:1; 
							           border-radius: 1.2em;
								   	width:200px;
									    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
								    }
								    button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
									        background:white;
										    border-color:#69D2E7;
										        color:black;
											    cursor: pointer;
										    }
										    table {
											      margin-bottom:1em;
											        border-collapse:collapse;
											}
											table td, table th {
												  text-align:left;
												    padding:0.25em 1em;
												      border-bottom:1px solid #E0E4CC;
											      }
											      #carttotals {
												        margin-right:0;
													  margin-left:auto;
												  }
												  .cart-buttons {
													    width:auto;
													      margin-right:0;
													        margin-left:auto;
														  display:flex;
														    justify-content:flex-end;
														      padding:1em 0;
													      }
													      #emptycart {
														        margin-right:1em;
														}
														table td:nth-last-child(1) {
															  text-align:right;
														  }
														  .message {
															    border-width: 1px 0px;
															      border-style:solid;
															        border-color:#A7DBD8;
																  color:#679996;
																    padding:0.5em 0;
																      margin:1em 0;
															      }
															      img{
																          width:250px;
																	      height:200px;
																      }
																      @media(max-width: 991px){
																	      	.container {
																			       width:100%;
																			       	}
																					.productcont{
																						      flex-direction: column;
																						      	  align-items:center;
																							     }
																							        .product{
																										   width:120%;
																										      }

																									      }

																									      @media(max-width: 767px){
																										      	.container {
																												       width:100%;
																												       	}
																														.productcont{
																															      flex-direction: column;
																															      	  align-items:center;
																																     }
																																        .product{
																																			   width:120%;
																																			      }
																																		      }

